# -----------------------------
# ENV FILES
# -----------------------------
.env
backend/.env
frontend/.env

# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/

# -----------------------------
# NODE
# -----------------------------
node_modules/
frontend/node_modules/

# -----------------------------
# BUILD FILES
# -----------------------------
dist/
build/

# -----------------------------
# VENV
# -----------------------------
venv/
.venv/

# -----------------------------
# SYSTEM
# -----------------------------
.DS_Store

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/